# Some settings that should be defined on a per-repo basis
[alias]
	# This version of `sync` is suitable for git-flow workflows
	sync = !sh -c 'git checkout --quiet head && \
		echo 'Fetching...' && \
		git fetch --prune upstream \
			+refs/heads/*:refs/remotes/upstream/* \
			master:master \
			develop:develop && \
		echo 'Pushing...' && \
		git push origin +refs/remotes/upstream/*:refs/heads/* && \
		git checkout --quiet - || git checkout --quiet -'
